@import "tailwindcss";

@theme {
  --color-medical-50: #f0f9ff;
  --color-medical-100: #e0f2fe;
  --color-medical-200: #bae6fd;
  --color-medical-500: #0ea5e9;
  --color-medical-600: #0284c7;
  --color-medical-700: #0369a1;
  --color-medical-800: #075985;
  --color-medical-900: #0c4a6e;
  --color-health-500: #10b981;
  --color-health-600: #059669;
  --font-sans: 'Inter', sans-serif;
  --font-arabic: 'Cairo', sans-serif;
}
